.banner-4 {
  padding: 120px 15px;
  position: relative;
  overflow: hidden;
}
.banner-4 .banner-content-4 {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px 15px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}
.banner-4 .banner-content-4 h1 {
  margin: 0;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 1.1;
  font-size: 2em;
}
@media (min-width: 768px) {
  .banner-4 .banner-content-4 h1 {
    font-size: 3em;
  }
}
.banner-4 .banner-content-4 p {
  color: #FF9800;
  font-size: 1.5em;
  line-height: 1.1;
}
.banner-4 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
   -webkit-filter: blur(4px);
     filter: blur(4px); /* Add a blur effect to the video */

  height: 177.77vh; /* reverse the aspect ration from 16:9 to 9:16*/
}
@media (min-width: 768px) {
  .banner-4 iframe {
    height: 56.25vw; /* keeps the video actual (16:9) proportion */
  }
}


.container {
  display: flex;
  gap: 0.625%;
}
.container a:link, a:visited {
    background-color: #aa0ccf00;
    color: black;
    border: 2px solid #20207400;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
}
.container a:hover, a:active {
    background-color: #20207400;
}

.hul a:link, a:visited {
    background-color: white;
    color: black;
    text-decoration: none;    
}
.hul a:hover, a:active {
    background-color: grey;    
}


